extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote.text-justify  
                    span En Travels US 
                    | nuestra misión es hacer que cada viaje sea una experiencia inolvidable. Con años de experiencia en el sector turístico, ofrecemos a nuestros clientes un servicio personalizado y exclusivo, diseñado para satisfacer todas sus necesidades de viaje. Desde escapadas de fin de semana hasta aventuras exóticas alrededor del mundo, nuestro equipo de expertos está aquí para ayudarte a planificar el viaje de tus sueños. 
                blockquote.text-justify  Trabajamos con una amplia red de socios globales para ofrecerte las mejores ofertas en vuelos, alojamiento, y actividades, asegurando que disfrutes de cada momento sin preocupaciones.
