footer.container.py-3.mt-4
    .row.text-center
        .col-md-12.mb-4
            nav.nav.justify-content-center
                a.nav-link(href="/nosotros") Nosotros
                a.nav-link(href="/viajes") Viajes
                a.nav-link(href="/testimoniales") Testimoniales

        .col-md-12
            .d-flex.justify-content-center.align-items-center
                a.m-4(href="https://www.linkedin.com/in/juan-carlos-ubaldo-sanchez-developer" target="_blank")
                    i.fab.fa-linkedin.fa-2x
                a.m-4(href="https://wa.me/6693312052" target="_blank")
                    i.fab.fa-whatsapp.fa-2x
                a.m-4(href="mailto:juanubaldo2@gmail.com" target="_blank")
                    i.fas.fa-envelope.fa-2x